#local terraform dir
.terraform/*

#terraform(tf) state files
*.tfstate.*
*.tfstate

terraform.tfstate

#tf variable files, may incluse sensitive data
*.tfvars


crash.log

# Terraform CLI binary
terraform.exe

# Terraform provider binaries
terraform-provider-*

# Terraform lock file
!.terraform.lock.hcl